    .navbar {
      padding: 0.7rem;
      border-bottom: solid 1px #e8e8e8;
      background-color: white;
      box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
        0 6px 16px -11px rgba(0, 0, 0, 0.08);
      position: sticky;
      top: 0;
      margin-bottom: 20px;
      z-index: 99;
    }
    .navbar .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo-text {
      color: rgb(27, 146, 146);
      text-transform: uppercase;
      cursor: pointer;
   
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 9rem;
    }

    .icon-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 3rem;
       color: rgba(0, 0, 0, 0.45);
    }
    .header-icon {
      font-size: 1.2rem;
      cursor: pointer;
    }

    .search-bar {
      margin-left: 1.5rem;
    }


  .search-icon,.search-back  {
    color: rgba(0, 0, 0, 0.45);
    font-weight: 900;
    display: none;
  }


  @media (max-width: 767px) { 

    .search-bar{
      margin: 0;
      display: none;
    }

    .search-icon,.back-active { 
      display: flex;
      margin: 0 1rem 0 1rem ;
    }

    .mobile {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      position: absolute;
      background-color: white;
      width: calc(100% - 0.8rem);
      height: 100%;
      z-index: 200;
    }

  }
